@import "@massalabs/react-ui-kit/src/global.css";

:root {
  --background: #f0fdf4;
  --foreground: #14532d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #052e16;
    --foreground: #dcfce7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
